
.container {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 100px;
    margin-bottom: 80px;
}

a{
    float: right; 
    color: darkorchid;
    font-family:'Chau Philomene One', sans-serif;  
    font-size: 60px;
    text-decoration: none;
    margin-top: 30px;
    text-align: center;
    transform: translateX(-100px);
    letter-spacing: 3px;
}

a p{
    color: white;
    font-family:'Chau Philomene One', sans-serif;
    font-size: 20px;
    width: 400px;
    transform: translateX(5px);
    letter-spacing: 1px;
    line-height: 30px;
}

h1{
    text-align: center;
    font-family: 'Chango', sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 100px;
    letter-spacing: .5px;
    color: darkorchid;
}

.heading p{
    text-align: center;
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: 50px;
    line-height: 40px;
    letter-spacing: 2px;
    color: white;
}

.animal wiki {
    width: 100%;
}

.animal wiki img {
    float: left;
}

.small site {
    width: 100%;
}

.small site img {
    float: left;
}

.mobile app {
  width: 100%;  
}

.mobile app img {
    float: left;
}

.zoomin {
    margin-bottom: 30px; 
    border:10px solid white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
}




